@using System.Web.Optimization
<div id="body">
    <div id="tabs">
        
        <ul>
            <li><a href="#tabRegister">Register</a></li>
            <li><a href="#tabLogin">Login</a></li>
            <li><a href="#tabDelete">Delete</a></li>
            <li><a href="#tabUpload">Upload</a></li>
            <li><a href="#tabCat">Admin: Categories</a></li>
        </ul>
        
        
        <div id="tabRegister">
            <section>
                <ul>
                    <li>
                        <label for="loginname">Loginname</label>
                        <input id="loginname" data-bind="value: Loginname"/>
                    </li>
                    <li>
                        <label for="displayname">Displayname</label>
                        <input id="displayname" data-bind="value: Displayname"/>
                    </li>
                    <li>
                        <label for="password">Password</label>
                        <input id="password" type="password" data-bind="value: Password"/>
                    </li>
                    <li>
                        <label for="email">EMail</label>
                        <input id="email" data-bind="value: Email"/>
                    </li>
                    <li>
                        <button data-bind="click: UserLoader().SaveUser">Save User</button>
                    </li>
                </ul>
            </section>
        </div>

        <div id="tabLogin">
            <form method="POST" action="/api/users/authenticate">
                <label for="Id">Email/Loginname:</label>
                <input name="Id" id="Id" type="text" />

                <label for="Password">Password:</label>
                <input name="Password" id="Password" type="Password" />

                <input type="submit" name="submit" value="Submit" />
            </form>

        </div>

        <div id="tabDelete">
            <button id="DeleteUsers">Delete All Users</button>

            <script>
                jQuery(function ($)
                {
                    $("#DeleteUsers").click(function ()
                    {
                        $.ajax({ url: "/api/users", type: "delete" });
                    });
                });
            </script>
        </div>

        <div id="tabUpload">
            <form method="POST" action="/api/users/1/images" enctype="multipart/form-data">
                <label for="file">Filename:</label>
                <input type="file" name="file" id="file" /><br />
    
                <label for="description">Description:</label>
                <input type="text" name="description" id="description" value="my image" />

                <input type="submit" name="submit" value="Submit" />
            </form>
        </div>

        <div id="tabCat">
            
			<table id="categoryList">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Action</th>
				</tr>
				<!-- ko foreach: Categories -->
				
				<tr data-bind="if: IsActive">
					<td data-bind="text: Data.Id"></td>
					<td>
						<input data-bind="value: Data.TextKey" />
					</td>
					<td>
						<span 
							class="glyphicon glyphicon-floppy-save"
							data-bind="click: $parent.SetInActive"></span>
					</td>
				</tr>

				<tr data-bind="ifnot: IsActive">
					<td data-bind="text: Data.Id"></td>
					<td data-bind="text: Data.TextKey"></td>
					<td>
						<span 
							class="glyphicon glyphicon-cog"
							data-bind="click: $parent.SetActive"></span>
					</td>
				</tr>
				<!-- /ko -->
			</table>
            
            <script>
                $(function ()
                {

                    $.ajax({
                        url: "/api/users/attributes/categories",
                        success: function (data)
                        {
                            $(data).each(function ()
                            {
                                categoryList.Categories.push(new Uniques.Editable(this));
                            });

                            ko.applyBindings(categoryList, $("#categoryList")[0]);
                        }
                    });
                });

                var categoryListModel = function ()
                {
	                var _this = this;
	                this.ActiveNode = ko.observable();

	                this.Categories = ko.observableArray();

	                this.SetActive = function (ele)
	                {
	                	if (_this.ActiveNode() != null) {
	                		_this.ActiveNode().IsActive(false);
	                	}
	                	_this.ActiveNode(this);
		                _this.ActiveNode().IsActive(true);
		                
	                };

	                this.SetInActive = function (ele)
	                {
	                	_this.ActiveNode().IsActive(false);
	                	_this.ActiveNode(null);
	                };
                };

                var categoryList = new categoryListModel();
            </script>
        </div>
    </div>

</div>

@Scripts.Render("~/Scripts/uniques/users.js")

<script>$(function () { $("#tabs").tabs(); });</script>