@using System.Web.Optimization
<div id="body">
	<div id="tabs">
		<ul>
			<li><a href="#tabRegister">Register</a></li>
			<li><a href="#tabLogin">Login</a></li>
			<li><a href="#tabUpload">Upload</a></li>
			<li><a href="#tabCat">Admin: Categories</a></li>
			<li><a href="#tabAttributes">Admin: Attributes</a></li>
			<li><a href="#tabTesting">Testing</a></li>
		</ul>
		<div id="tabRegister">
			<section>
				<ul>
					<li>
						<label for="loginname">Loginname</label>
						<input id="loginname" data-bind="value: Loginname"/>
					</li>
					<li>
						<label for="displayname">Displayname</label>
						<input id="displayname" data-bind="value: Displayname"/>
					</li>
					<li>
						<label for="password">Password</label>
						<input id="password" type="password" data-bind="value: Password"/>
					</li>
					<li>
						<label for="email">EMail</label>
						<input id="email" data-bind="value: Email"/>
					</li>
					<li>
						<button data-bind="click: UserLoader().SaveUser">Save User</button>
					</li>
				</ul>
			</section>
		</div>

		<div id="tabLogin">
			<form method="POST" action="/api/users/authenticate">
				<label for="Id">Email/Loginname:</label>
				<input name="Id" id="Id" type="text" />

				<label for="Password">Password:</label>
				<input name="Password" id="Password" type="Password" />

				<input type="submit" name="submit" value="Submit" />
			</form>

		</div>

		<div id="tabUpload">
			<form method="POST" action="/api/users/1/images" enctype="multipart/form-data">
				<label for="file">Filename:</label>
				<input type="file" name="file" id="file" /><br />

				<label for="description">Description:</label>
				<input type="text" name="description" id="description" value="my image" />

				<input type="submit" name="submit" value="Submit" />
			</form>
		</div>

		<div id="tabCat">
			<table id="categoryList">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Action</th>
				</tr>
				<!-- ko foreach: Categories -->
				
				<tr data-bind="if: IsActive">
					<td data-bind="text: Data.Id"></td>
					<td>
						<input data-bind="value: Data.TextKey, enterkey: $parent.SetInActive" />
					</td>
					<td>
						<span 
							class="glyphicon glyphicon-floppy-save"
							data-bind="click: $parent.SetInActive"></span>
						<span class="glyphicon glyphicon-remove" data-bind="click: $parent.Delete"></span>
					</td>
				</tr>

				<tr data-bind="ifnot: IsActive">
					<td data-bind="text: Data.Id"></td>
					<td data-bind="text: Data.TextKey"></td>
					<td>
						<span 
							class="glyphicon glyphicon-cog"
							data-bind="click: $parent.SetActive"></span>
						<span class="glyphicon glyphicon-remove" data-bind="click: $parent.Delete"></span>
					</td>
				</tr>
				<!-- /ko -->
				
				<tr>
					<td> New:</td>
					<td>
						<input data-bind="value: NewNode().TextKey, enterkey: SaveNew" />
					</td>
					<td>
						<span 
							class="glyphicon glyphicon-floppy-save"
							data-bind="click: SaveNew"></span>
					</td>
				</tr>
			</table>

			<script >
				var categoryList = new CategoryListModel("/api/users/attributes/categories");
				ko.applyBindings(categoryList, $("#categoryList")[0]);
				categoryList.Load();
			</script>
		</div>
	
		<div id="tabAttributes">
			<div id="userAttributeContainer"></div>

			<script >
				var attributeList = new AttributeListModel("/api/users/attributes", "/api/users/attributes/categories");
				Uniques.TemplateEngine.LoadDataInto(attributeList, "AdminUserAttributes", $("#userAttributeContainer"));
				attributeList.Load();
			</script>
		</div>
		
		<div id="tabTesting">
			<div id="test1">
				<input type="text" data-bind="value: Name"/>
				<span data-bind="text : Name"></span>
			</div>
			
			<div id="test2">
				<input type="text" data-bind="value: Name"/>
				<span data-bind="text: Name"></span>
			</div>
			<script>
				var myModel = function() {
					this.Name = ko.observable("Init");
				};
				Uniques.DataProvider.SetData("myTestModel", new myModel());

				ko.applyBindings(Uniques.DataProvider.GetData("myTestModel"), $("#test1")[0]);
				ko.applyBindings(Uniques.DataProvider.GetData("myTestModel"), $("#test2")[0]);
			</script>
		</div>
	</div>
</div>
<script>$(function () { $("#tabs").tabs(); });</script>