body, html { height: 100% }

body {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 82%, #b5a4a4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(82%,#ffffff), color-stop(100%,#b5a4a4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 82%,#b5a4a4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 82%,#b5a4a4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 82%,#b5a4a4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 82%,#b5a4a4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b5a4a4',GradientType=0 ); /* IE6-9 */
}

.shell {
    width: 1024px;
    margin: 0px auto;
}

header h1 
{
    transform: rotateY(180deg);
    -webkit-transform: rotateX(180deg);
    font-size: 56px;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
    margin: 0px;

    transition: padding-left 0.5s;
}

header h1:hover {
    padding-left: 80px;
}

header h2
{
    margin-top: 0px;
    font-size: 18px;
}

