body {
  background-color: #E8E8E8;
}
body a {
  color: #000;
  text-decoration: underline;
}
body a:hover {
  text-decoration: none;
}
.pillar {
  width: 1024px;
  margin: 0px auto;
  background-color: #fff;
  box-shadow: #808080 0px 0px 8px;
}
.pillar .col-container {
  margin: 0px;
  padding: 0px;
}
.pillar .col-container .col {
  float: left;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 700px;
  background-color: #F5F5F5;
}
.pillar .col-container .col.sidebar {
  width: 324px;
  background-color: #DEDEDE;
}
.pillar .col-container .col .slider {
  border: 1px solid #808080;
  background-color: #E8E8E8;
  color: #808080;
  font-size: 18px;
  padding: 15px 1px;
  margin-left: 0px;
  line-height: 20px;
  width: 15px;
  text-align: center;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.pillar .col-container.collapsed > .col {
  width: 1000px;
}
.pillar .col-container.collapsed > .col.sidebar {
  width: 24px;
}
.navigation.top-navigation {
  padding: 2px;
}
.navigation ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navigation ul li {
  float: left;
  padding: 4px 10px;
  margin-left: 2px;
  background-color: #CFCFCF;
}
.navigation ul li:first-child {
  margin-left: 0px;
}
fieldset .display-label {
  font-weight: bold;
}
